In [ ]:
#List and its Default Functions.

In [15]:
a = [1,2,3,4,5,1.2,2.5,"meet","patel"]
b = ["abc","xyz","oops"]

['abc', 'xyz', 'oops']

In [5]:
a.append(6)
a

[1, 2, 3, 4, 5, 1.2, 2.5, 'meet', 'patel', 6, 6]

In [8]:
a.insert(5,"nil")
a

[1, 2, 3, 4, 5, 'nil', 1.2, 'patel', 6, 6]

In [9]:
a.remove(6)
print(a)

[1, 2, 3, 4, 5, 'nil', 1.2, 'patel', 6]

In [10]:
a.remove(a[2])
print(a)

[1, 2, 4, 5, 'nil', 1.2, 'patel', 6]

In [11]:
print(a[1:3])

[2, 4]

In [18]:
b
a.extend(b)
a

[1,
 2,
 3,
 4,
 5,
 1.2,
 2.5,
 'meet',
 'patel',
 'abc',
 'xyz',
 'oops',
 'abc',
 'xyz',
 'oops']

In [19]:
a.pop()
a

[1, 2, 3, 4, 5, 1.2, 2.5, 'meet', 'patel', 'abc', 'xyz', 'oops', 'abc', 'xyz']

In [20]:
a.count("abc")

2

In [23]:
b.sort()
b

['abc', 'oops', 'xyz']

In [26]:
b.reverse()
b

['xyz', 'oops', 'abc']

In [27]:
a.clear()
a

[]

In [28]:
c = b.copy()
c

['xyz', 'oops', 'abc']

# Dictionaries and its functions

In [29]:
dit = {"name" : "meet", "age" : "20", "school" : "vm","college" : "gtu", "phone" : "1234567890"}
dit

{'name': 'meet',
 'age': '20',
 'school': 'vm',
 'college': 'gtu',
 'phone': '1234567890'}

In [30]:
dit.get("name")

'meet'

In [35]:
dit.update({"name" : "mit"})
dit

{'name': 'mit',
 'age': '20',
 'school': 'vm',
 'college': 'gtu',
 'phone': '1234567890'}

In [36]:
dit.keys()

dict_keys(['name', 'age', 'school', 'college', 'phone'])

In [37]:
dit.values()

dict_values(['mit', '20', 'vm', 'gtu', '1234567890'])

In [40]:
abc = dit.copy()
abc

{'name': 'mit',
 'age': '20',
 'school': 'vm',
 'college': 'gtu',
 'phone': '1234567890'}

In [41]:
dit["address"] = "4554 anderson mill road"
dit

{'name': 'mit',
 'age': '20',
 'school': 'vm',
 'college': 'gtu',
 'phone': '1234567890',
 'address': '4554 anderson mill road'}

In [44]:
dit.pop("address")
dit

{'name': 'mit',
 'age': '20',
 'school': 'vm',
 'college': 'gtu',
 'phone': '1234567890'}

In [46]:
dit.setdefault("name")

# Tuple and its Default methods

In [51]:
car = ("ford","nissan","toyota","mercedes","audi")
car

('ford', 'nissan', 'toyota', 'mercedes', 'audi')

In [52]:
car.count("ford")

1

In [54]:
car.index("toyota")

2

In [55]:
print(len(car))

5

# Sets and its Functions

In [60]:
set1 = { 1,2,3,4,5,4,5}
set2 = {6,7,8,9,9,0}

In [61]:
set1.add(0)
set1

{0, 1, 2, 3, 4, 5}

In [66]:
set2.difference(set1)

{6, 7, 8, 9}

In [67]:
set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
a =set1.copy()
a

{0, 1, 2, 3, 4, 5}

In [70]:
a.difference_update(set2)
a

{1, 2, 3, 4, 5}

In [71]:
a.symmetric_difference_update(set2)
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
set1.discard(3)
set1

{0, 2, 4, 5}

In [75]:
set1.issubset(a)

True

In [78]:
set1.issuperset(a)

False

# Strings And its Functions

In [88]:
str1 ="hello"
str2 ="how are u"
str3 ="   fine   "

In [85]:
str1.count("l")

2

In [86]:
str2.upper()

'HOW ARE U'

In [89]:
str1.capitalize()

'Hello'

In [90]:
str2.rfind("w")

2

In [91]:
str3.strip()

'fine'

In [92]:
str1.replace("hello","hi")

'hi'

In [94]:
"assignment".title()

'Assignment'

In [95]:
str2.split()

['how', 'are', 'u']